.social-rating {
     align-content: center;
     display: grid;
}
.social-rating ul {
     display: grid;
     list-style: none;
     gap: 1rem;
     grid-template-rows: repeat(3, 1fr);
     width: 100%;
}

.social-review {
     align-items: center;
     background-color: $light-grayish-magenta;
     border-radius: 10px;
     column-gap: 1.5rem;
     display: grid;
     // grid-template-columns: repeat(auto-fill, minmax(auto, 15rem));
     grid-template-columns: auto auto;
     padding: 1.5rem 2em;
}

.social-star {
     display: grid;
     column-gap: 0.8rem;
     grid-template-columns: repeat(5, auto);
     min-width: 7rem;
}


.rating-1 {
     justify-self: start;
}

.rating-2 {
     justify-self: center;
}

.rating-3 {
     justify-self: end;
}

@media (max-width: 77.5rem) {
     .social-review {
          grid-template-rows: auto auto;
          grid-template-columns: 1fr;
          justify-items: center;
          row-gap: 1rem;
          text-align: center;
     }
     .rating-1, .rating-2, .rating-3 {
          justify-self: center;
          width: 100%;
     }
}



